
// Default Font Stacks
$font-family-sans-serif: 'Open Sans', sans-serif;

// Define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Custom Font Stacks -- edit as needed
$main-title-font: 'Open Sans', sans-serif;
$sub-title-font: 'Open Sans', sans-serif;

// Site main colour pallet -- edit as needed
$main-title-color: #000000;
$body-color: #000000;

// Additional colour styles
$white: #FFFFFF;
$black: #000000;
$red: #ef0f0f;
